@import 'nullstyle';


.site {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;

    &__wrapper {}
}

.header {
    background: #009DE9;
    font-family: Open Sans;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
    padding: 15px 0;

    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0 60px;
    }

    &__item {
        &:first-child {
            display: flex;

            div:first-child {
                margin-right: 53px;
            }

            div:last-child {
                position: relative;

                &::after {
                    position: absolute;
                    content: url('/img/structure/weather.svg');
                    top: -10px;
                    right: -30px;
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }

    &__time {}

    &__weather {}

    &__date {}
}

.swiper-container {
    &:hover {
        .swiper-button-prev {
            opacity: 1;

            &::after {
                content: url('/img/slider/left.svg');
                width: 20px;
            }
        }

        .swiper-button-next {
            opacity: 1;

            &::after {
                content: url('/img/slider/right.svg');
                width: 20px;
            }
        }
    }
}



.swiper-slide {
    img {
        width: 100%;
    }
}

.swiper-button-prev {
    &::after {
        content: url('/img/slider/left.svg');
        width: 20px;
    }
}

.swiper-button-next {
    &::after {
        content: url('/img/slider/right.svg');
        width: 20px;
    }
}

.swiper-button-prev,
.swiper-button-next {
    transition: .3s;
    opacity: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.35);
    width: 50px;
    height: 50px;
}


.main,
.main-home-page,
.main-more-page,
.main-info-page {
    min-height: 1200px;

}

.main-home-page {
    background: url('/img/structure/background.jpg') no-repeat;
    background-size: cover;

    &__wrapper {
        padding: 60px 50px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        cursor: pointer;
        margin: 12px;
        background: #FFFFFF;
        box-shadow: 2px 11px 16px rgba(100, 105, 108, 0.24);
        border-radius: 45px;
        max-width: 300px;
        width: 100%;
        max-height: 250px;
        height: 300px;

        background-repeat: no-repeat;
        background-position: 15% 85%;

        &:nth-child(1) {
            background-image: url('/img/structure/list.svg');
        }

        &:nth-child(2) {
            background-image: url('/img/structure/Vector.svg');
        }

        &:nth-child(3) {
            background-image: url('/img/structure/date.svg');
        }

        &:nth-child(4) {
            background-image: url('/img/structure/block.svg');
        }

        &:hover {
            box-shadow: 5px 5px 10px rgb(56, 55, 55);
        }

        p {
            text-align: end;
            padding: 60px 20px;
            text-transform: uppercase;
            font-family: Roboto;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            text-align: right;
            color: #2B2E2D;
        }

    }
}

.main-more-page {
    background: url('/img/structure/secondBack.svg') no-repeat;
    background-size: cover;

    &__wrapper {
        padding: 60px 50px;
    }

    &__title {
        position: relative;
        margin-bottom: 30px;

        p {
            font-family: Open Sans;
            font-weight: bold;
            font-size: 26px;
            line-height: 35px;
            text-align: center;
            text-transform: uppercase;
            color: #2C2C33;
        }

        .arrow-back {
            padding: 10px;
            cursor: pointer;
            position: absolute;
            content: url('/img/structure/down.svg');
            top: -13px;
            right: -40px;
            width: 60px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        cursor: pointer;
        margin: 12px;
        background: #FFFFFF;
        box-shadow: 2px 11px 16px rgba(100, 105, 108, 0.24);
        border-radius: 45px;
        max-width: 300px;
        width: 100%;
        max-height: 250px;
        height: 300px;

        background-image: url('/img/structure/tybe.svg');
        background-repeat: no-repeat;
        background-position: 15% 85%;

        &:hover {
            box-shadow: 5px 5px 10px rgb(110, 104, 104);
        }

        p {
            text-align: end;
            padding: 60px 20px;
            text-transform: uppercase;
            font-family: Roboto;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            text-align: right;
            color: #2B2E2D;
        }

    }
}

.main-info-page {
    background: url('/img/structure/secondBack.svg') no-repeat;
    background-size: cover;

    &__wrapper {
        padding: 60px 50px;
    }

    &__title {
        position: relative;
        margin-bottom: 30px;

        p {
            font-family: Open Sans;
            font-weight: bold;
            font-size: 26px;
            line-height: 35px;
            text-align: center;
            text-transform: uppercase;
            color: #2C2C33;
        }

        .arrow-back {
            padding: 10px;
            cursor: pointer;
            position: absolute;
            content: url('/img/structure/down.svg');
            top: -13px;
            right: -40px;
            width: 60px;
        }

        .btn-home {
            padding: 10px;
            cursor: pointer;
            position: absolute;
            content: url('/img/structure/Home.svg');
            top: -15px;
            left: -40px;
            width: 50px;
        }
    }

    &__text {
        P {
            font-family: Roboto;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.02em;
            color: #2C2C33;
        }
    }
}


.footer {
    background: #009DE9;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    &__wrapper {

        padding: 10px 60px;
    }

    &__list-top {
        display: flex;

        grid-gap: 20px;
        margin: 0 auto;
        max-width: 831px;
        justify-content: center;
        align-items: center;
    }

    &__item-top {
        &:first-child {
            max-width: 288px;
            width: 100%;
        }

        &:last-child {
            max-width: 281px;
            width: 100%;
        }


    }

    &__list-bottom {
        /* max-width: 420px; */
        margin: 0 auto;
        margin-top: 23px;
        display: flex;
        justify-content: center;

    }

    &__item-bottom {
        margin: 0 20px;

        p {
            font-weight: 600;
            font-size: 14px;
        }

        img {
            width: 100%;
        }
    }
}


.hide {
    opacity: 0;
    z-index: -2;
    transition: .5s;
    transform: scale(0, 0);
}

.absolute {
    animation: unsetposition .3s linear alternate;
    animation-delay: .3s;
    position: absolute;
}


/* --------media------ */

@media (max-width:800px) {
    .footer__item-top {
        p {
            font-size: 14px;
        }
    }

    .footer__item-bottom p {
        font-size: 12px;
    }
}

@media (max-width:768px){
    .main-more-page__item,
    .main-home-page__item{
        max-width: 400px;
    }

    .main-more-page__title p,
    .main-info-page__title p {
        font-size: 20px;
    }
    .main-info-page__text P{
        font-size: 17px;
    }

    .main-info-page__title .arrow-back{

    }
    .main-info-page__title .btn-home{

    }

}


@media (max-width:680px) {
    .header {
        font-size: 18px;
        padding: 0;
    }

    .header__item:first-child div:last-child::after {
        width: 15px;
        top: -8px;
        right: -17px;
    }

    .header__list {
        padding: 0 20px;
    }

    .header__item:first-child div:first-child {
        margin-right: 35px;
    }
}

@media (max-width:660px) {
    .footer__list-top {
        flex-direction: column;
    }

    .footer__item-top {
        &:nth-child(3) {
            order: -1;
        }

        &:nth-child(1),
        &:nth-child(3) {
            display: none;
        }
    }
}

@media(max-width:580px){
.main-more-page__title p{
    font-size: 15px !important;
}
}

@media(max-width:520px) {
    .main-more-page__title .arrow-back{
        width: 45px;
        top: -6px;
    }
    .footer__list-bottom {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__item-bottom img {
        width: unset;
    }

    .footer__item-bottom {
        margin: 2px 0;
    }
}

@media (max-width:480px) {

    .swiper-button-prev,
    .swiper-button-next {
        width: 30px;
        height: 30px;

        &::after {
            transform: scale(0.7, 0.7);
        }
    }
}

@media (max-width:460px){
    .main-more-page__title .arrow-back{
        top: -45px;
    }
    
}

@media (max-width:420px) {
    .header {
        font-size: 14px;

    }

     .main-more-page__item,
     .main-home-page__item {
         height: 200px;
         p{
             font-size: 15px;
         }
     }
     .main-home-page__wrapper,
     .main-more-page__wrapper,
     .main-info-page__wrapper{
         padding: 40px 15px;
     }
     .main-info-page__title .arrow-back{
             right: -20px;
     }
     .main-info-page__title .btn-home{
         left: -20px;
     }
     .main-more-page__title .arrow-back{
         right: -15px;
     }
}